{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <div class="main-box cotaner text-center mt-6">
    <br>
    <h2>Upload Users</h2>
</div>
    <!-- Message -->
    <div>
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("Perfect!", m, "success");
                </script>
            {% endif %}
        {% endfor %}
    </div>
    <!-- END Message -->
    <br>
    <!-- Form -->
    <div class="card my" style="max-width: 40%; margin: auto;">
    <div class="card-body">
        <h5 class="card-title">Upload files</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3" style="text-align: center">
                    <label class="form-label">Choose the CSV file: </label>
                    {{ form.file_csv }}
                </div>
                <div class="mb-3" style="text-align: center">
                    <label class="form-label">Choose the XML file:</label>
                    {{ form.file_xml }}
                </div>
                <hr>
                <div style="text-align: center">
                <button class="btn btn btn-success" type="submit">Upload</button>
                </div>
              </form>
        </p>
    </div>
    <!-- END Form -->
</div>

{% endblock %}