{% extends 'layouts/base.html' %}

{% load static %}

{% block content %}
    <div class="main-box cotaner text-center mt-6">
    <br>
    <h2>Upload Users</h2>
</div>
    <br>
    <div class="card my" style="max-width: 40%; margin: auto;">
    <div class="card-body">
        <h5 class="card-title">Upload files</h5>
        <h6 class="card-subtitle mb-2 text-muted"></h6>
        <p class="card-text">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <hr>
                <div style="text-align: center">
                <button class="btn btn btn-success" type="submit">Upload</button>
                </div>
              </form>
        </p>
    </div>
</div>

{% endblock %}